@CHARSET "UTF-8";

body {
	color: #fff;
}
input, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.footer {
  margin-top: 20px;
  background-color: #383c44;
  color: white;
  padding-top: 15px;
}
.footer a {
	color: white;
}

a {
  color: #383c44;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #29bba1;
  text-decoration: underline;
}


.has-icon {
	position: relative;
}
.icon-white {
	color: white;
}
.has-icon.icon-lg .form-control {
  padding-left: 35px;
}
.has-icon.icon-lg .form-control-icon {
  font-size: 25px;
  line-height: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  padding-left: 10px;
}
.compare-info-container .form-control {
	width: 4em;
	display: inline-block;
}
.form-control.form-contorl-faded {
  color: white;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: none;
}
.form-control.form-contorl-faded:focus {
  border-color: rgba(255, 255, 255, 0.4);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
}
.form-control.form-contorl-faded::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
.form-control.form-contorl-faded:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.form-control.form-contorl-faded::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.fullscreen {
    background: linear-gradient(75deg, #2c7ba3, #29bba1) repeat scroll 0 0 rgba(0, 0, 0, 0);
	overflow: auto;
	height: 100%;
	width: 100%;
	/* position: relative;
	min-height: 100%; */
}

/* Adding for the spinner */
.spinner-screen {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
    cursor: wait;
    text-align: center;
    padding: 0px;
    margin: 0px;
    z-index: 10;
}
.spinner-icon-pos {
	width: 100px;
	height: 100px;
    position: fixed;
    top: 50%;
    margin-top: -50px; /* half the height of the image loading icon */
    left: 50%;
    margin-left: -50px;
}
#main-viewport {
	padding-bottom: 10px;
}

	.button--heroku {
        background-color: white;
        background-image: linear-gradient(#fff, #e7e4ee);
        color: #58488a;
        display: inline-block;
        min-width: 240px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);

        border-radius: 3px;
    font-weight: bold;
    line-height: 1;
    margin: 0 auto;
    max-width: 220px;
    padding: 0.9em;
    text-align: center;
    text-decoration: none;

    font-size: 1.1em;

    font-family: "BentonSans","Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;

    cursor: auto !important;
    }
.button--heroku:disabled {
	color: #ccc;
}
.input-box {
	/* width: 40em; */
}
.icon-question:before {
	content: "?";
	display: inline-block;
}
.icon-dollar:before {
	content: "$";
	display: inline-block;
}
.icon-percent:before {
	content: "%";
	display: inline-block;
}
.icon-number:before {
	content: "#";
	display: inline-block;
}
.tagline {
	font-size: 0.5em;
}
.fb-share-button {
}
.compare-info-container {
	padding: 20px 30px 20px 20px;
	display: block;
	width: 100%;
}
.chart-wrapper {
 width: 100%;
 display: inline-block;
 position: relative;
}
.chart-wrapper:after {
    padding-top: 56.25%; /*16:9 ratio*/
    display: block;
    content: '';
}
.chart-holder {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
}
